.add-job-page {
  padding: 30px 0px;
  flex: 1;
}

.main-content{
  margin-left: 0px;
}

.page-title {
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 100px;
  margin-top: 0px;
  color: #2a1c69;
  text-shadow: 6px 6px 12px #00000050;
}

.job-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 22px;
  justify-items: center;
}

/* بطاقة الإضافة */
.add-card {
  background-color: #fff;
  border: 2px dashed #ccc;
  border-radius: 12px;
  width: 280px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
  box-sizing: border-box;
}

.add-card:hover {
  background-color: #eee;
}

.plus-icon {
  font-size: 36px;
  color: #723dff;
  margin-bottom: 8px;
}
