.match-container {
  padding: 0 40px 40px;
  max-width: 100%;
  min-height: 100vh;
  background-color: whitesmoke;
}

.match-container h2 {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.2;
  padding-top: 40px;
  margin: 0 0 40px;
  color: #0b2b82;
  text-align: center;
}

.match-container h2 span {
  color: #723dff;
}

.job-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

