/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */

/* استيراد خطوط للغتين العربية والإنجليزية */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tajawal:wght@400;500;700&display=swap');
/* أو يمكنك استخدام:
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Cairo:wght@400;500;600;700&display=swap');
*/

body {
  margin: 0;
  /* الخط الافتراضي للإنجليزية */
  font-family: 'Roboto', sans-serif;
  /* الخط الاحتياطي للعربية */
  font-family: 'Roboto', 'Tajawal', sans-serif;
  /* background: linear-gradient(180deg, #f0f4ff 0%, #723efe 100%); */
  background: #FBFBFB;
  min-height: 100vh;
}

/* تحديد خط مختلف للغة العربية */
html[dir="rtl"] body {
  font-family: 'Tajawal', sans-serif;
  /* أو:
  font-family: 'Cairo', sans-serif;
  */
}

html {
  height: 100vh;
}