.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-card {
  position: relative;
  width: 480px;
  max-height: 85vh;
  background: #16244c;
  padding: 25px;
  border-radius: 12px;
  overflow-y: auto;
  position: relative;
  color: white;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 26px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

.question-block {
  background: #1d2d5c;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 18px;
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-header button {
  margin-left: 10px;
}

.rang {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-top: 6px;
  margin-bottom: 10px;
}

.question-block input {
  margin-bottom: 6px;
}

.correct {
  border: 2px solid #33d47c;
}

.add-btn {
  width: 100%;
  padding: 12px;
  background: #3b7bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.save-btn {
  width: 100%;
  padding: 12px;
  background: #0ad48e;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
}

.delete-btn {
  background: #d9534f;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn {
  background: #ffbe3b;
  border: none;
  color: black;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.toast {
  position: absolute;
  bottom: 10px;
  right: 10px;
  min-width: 250px;
  padding: 10px 14px;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 999;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast.success {
  background-color: #e6ffed;
  color: #2e7d32;
  border: 1px solid #2e7d32;
}

.toast.error {
  background-color: #ffebee;
  color: #c62828;
  border: 1px solid #c62828;
}

.input-error {
  border: 1px solid #ff5c5c !important;
  background: #ffeaea;
}

.error-msg {
  color: #ff9d9d;
  font-size: 12px;
  margin-top: 3px;
  display: block;
}
